body {
  margin: 0;
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.header-sticky {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.logo {
  height: 60px;
}

.username {
  font-size: 24px;
  font-family: cursive;
  text-transform: uppercase;
}

.right-block {
  display: flex;
  align-items: center;
}
